
/*-------- HEADER SECTION --------*/
/** MOBILE **/
.m_header {
    width: 100%;
    text-align: center;
    position: fixed;
    background: #F5F5F5;
}

nav_bar_toggle {position: relative;}

.nav_bar_toggle a {
    position: absolute;
    padding-top: 20px;
    right: 50px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.header_logo {float: left;}

/** PC **/
.pc_header {
    width: 100%;
    position: fixed;
    display: none;
    background: #F5F5F5;
}

.header_logo {
    color: #222222;
    font-weight: 500;
    font-size: 1.3em;
    padding: 25px 50px;
}

.menu_list {
    float: right;
    padding-right: 50px;
}

.button_list {
    color: #222222;
    font-weight: 300;
    font-size: .8em;
    float: left;
    padding: 30px 0 0 20px;
}

/** media query star **/
@media(min-width:1024px) {
    .m_header {display: none;}
    .pc_header {display: block;}
}
/** media query end **/


/*-------- MAIN SECTION --------*/
#mainSection {height: 100%;}

.main_banner {
    height: 100%;
    padding: 0 50px;
}

.main_banner_text_table {padding-top: 15%;}

.main_banner_text_brand {
    padding-bottom: 15px;
    text-align: center;
}

.main_banner_text_brand_green {
    font-weight: 600;
    font-size: 1.4em;
    color: #1CCC8F;
    padding-left: 3px;
}

.main_banner_text_brand_black {
    font-weight: 600;
    font-size: 1.4em;
    color: #222222;
}

.main_banner_text_title {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.1;
    color: #222222;
    text-align: center;
}

.main_banner_button {
    padding-top: 30px;
    text-align: center;
}

.main_banner_button_green {
    background: #1CCC8F;
    padding: 12px 0;
    width: 160px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    box-shadow: 1px 3px 5px rgba(0,0,0,.15);
    margin-right: 10px;
}

.main_banner_button_black {
    background: #222222;
    padding: 12px 0;
    width: 160px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    box-shadow: 1px 3px 5px rgba(0,0,0,.15);
}

.main_banner_product {
    padding-top: 20px;
    text-align: center;
}

.main_banner_product img {width: 60%;}

/** media query star **/
@media(min-width:1024px) {
    .main_banner_text_table {padding-top: 33%;}
    
    .main_banner_product {
        padding-top: 13%;
        text-align: center;
    }
    
    .main_banner_product img {width: 80%;}
}
/** media query end **/

/*-------- SERVICE SECTION --------*/
.service_contents_video {
    padding-top: 50px;
    text-align: center;
}

.service_video_box {
    width: 60%;
    padding-top: 35%;
    background: black;
    margin: 0 auto;
    text-align: center;
    
}

.service_contents_text {
    text-align: center;
    padding-top: 50px;
}

.service_contents_text_title {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 15px;
}

.service_contents_text_sub {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
}

.service_contents_sub_title {
    color: #222222;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 50px 0 15px 50px;
    text-align: center;
}

.service_contents_sub_colspace {padding: 30px 9% 30px;}

.service_contents_sub_conts {
    padding: 0 30px;
    display: table;
    margin: 10px 0;
    text-align: center;
}

.service_contents_sub_contSection {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    height: 100px;
    border-left: 3px solid #1CCC8F;
    box-shadow: 1px 2px 5px rgba(0,0,0,.3);
    display: table-cell;
    vertical-align: middle;
}

.service_contents_sub_top {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 10px;
    
}

.service_contents_sub_bottom {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;

}

@media(min-width:1024px){
    .service_contents_text {
        text-align: left;
        padding-left: 5%;
    }

    .service_contents_video {
        padding-left: 10%;
        padding-top: 50px;
    }

    .service_video_box {
        width: 100%;
        padding-top: 60%;
        background: black;
    }
    
    .service_contents_sub_conts {
        padding: 0 10px;
        display: table;
        margin: 10px 0;
        text-align: center;
    }
}

/*-------- INFOMATION SECTION --------*/
.infomation_contents_text {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.info_text {
    text-align: center;
    padding-bottom: 60px;
}

.info_text_conts_num {
    font-weight: 800;
    font-size: .9rem;
}

.info_text_conts_main {
    font-weight: 500;
    font-size: 1.2rem;
    padding-top: 5px;
}

.info_text_conts_sub {
    font-weight: 200;
    font-size: 1rem;
    padding: 10px 0 20px;
    line-height: 1.3;
}

.info_img {
    text-align: center;
}

.info_img img {
    width: 25%;
    padding-bottom: 15px;
}

@media(min-width:1028px){
    .infomation_contents_text {
        text-align: center;
        padding-bottom: 30px;
    }

    .info_text {
        padding-top: 120px;
        padding-left: 30px;
        text-align: left;
    }

    .info_text_conts_num {
        font-weight: 800;
        font-size: .9rem;
        
    }

    .info_text_conts_main {
        font-weight: 500;
        font-size: 1.2rem;
        padding-top: 5px;
    }

    .info_text_conts_sub {
        font-weight: 200;
        font-size: 1rem;
        padding: 10px 0 20px;
        line-height: 1.3;
    }
    
    .info_img {text-align: right;}
    
    .info_img img {
        width: 40%;
        padding-bottom: 60px;
        padding-right: 20px;
    }
}

/*-------- QNA SECTION --------*/
#qnaSection {background: white;}
.qna_conts {
    padding: 50px 20%;
    text-align: center;
}

.input_col {padding: 10px;}

.input_col input {
    padding: 15px;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    border: .5px solid #C6C6C6;
}

.textarea_col {padding-top: 20px;}

.textarea_col textarea {
    padding: 15px;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border-radius: 5px;
    border: .5px solid #C6C6C6;
}

.main_banner_button_green {
    font-weight: 500;
    color: white;
}

/*-------- QNA SECTION --------*/
.footerSection {
    padding: 80px 50px 50px;
    background: #222222;
    text-align: center;
}

.footer_logo {
    text-align: center;
    font-size: 1.8rem;
    color: #A7A7A7;
    padding-bottom: 30px;
}

.footer_conts {
    padding: 10px 0;
    font-size: .7rem;
    font-weight: 300;
    color: #A7A7A7;
}

@media(min-width:1028px) {
    .footer_conts {
        padding: 10px 0;
        font-size: .7rem;
        font-weight: 300;
        color: #A7A7A7;
    }
    
    .footer_logo {
        text-align: center;
        font-size: 1.8rem;
        color: #A7A7A7;
        padding-bottom: 30px;
    }
}